{% extends "sacrud/redefineme.jinja2" %}

{% block sa_popup %}
  {% if sa_crud['obj'] %}
    <div class="popup">
        <div class="popup-background">&nbsp;</div>
        <div class="popup-inner">
            <div class="popup-inner__ie">
                <div class="popup-inner__content">
                    <div class="popup-inner__content-delete">
                        <div>Вы уверены, что хотите удалить объект?</div>
                        <div class="popup-inner__content-delete-text"></div>
                        <div>Все связанные с ними элементы будут удалены.</div>
                        <div class="popup-inner__content-delete-confirm" data-status="delete">
                            <a href="{{ request.route_url('sa_delete', table=sa_crud['table'].__tablename__, id=getattr(sa_crud['obj'], sa_crud['pk'])) }}" class="popup-inner__content-delete-confirm-link">OK</a>
                        </div>
                        <div class="popup-inner__content-delete-cancel">
                            <span class="popup-inner__content-delete-cancel-text">Cancel</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  {% endif %}
{% endblock %}

{% block sa_body %}
    {% include 'sacrud/forms/create.jinja2' %}
{% endblock %}

{% block sa_head_css %}
    {{ super() }}
    <link href="{{ request.static_url('sacrud:static/css/popup/popup.css') }}" rel="stylesheet">
    <link href="{{ request.static_url('sacrud:static/css/chosen/chosen.min.css') }}" rel="stylesheet">
{% endblock %}

{% block sa_head_js %} {# extrascript #}
    <script type="text/javascript" src="{{ request.static_url('sacrud:static/js/jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('sacrud:static/js/jquery/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('sacrud:static/js/jquery/jquery-ui-timepicker-addon.js') }}"></script>
    {# <script type="text/javascript" src="{{ request.static_url('sacrud:static/js/jquery/jquery.ui.datepicker-ru.js') }}"></script> #}
{% endblock %}

{% block extrascript %}
    <script type="text/javascript" src="{{ request.static_url('sacrud:static/js/checkbox.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('sacrud:static/js/create.js') }}"></script>
    <script type="text/javascript" src="{{ request.static_url('sacrud:static/js/chosen/chosen.jquery.min.js') }}" ></script>
{% endblock %}
