{% extends "sacrud/redefineme.jinja2" %}

{% block sa_body %}
	<div class="sa_body">
		<div id="page" class="dashboard">
			<div class="dashboard-title">Dashboard</div>
			<div class="dashboard__inner clear-fix">
				<div class="dashboard__column">
					{% for group, table_list in tables.iteritems() %}
						<div class="widget">
							<div class="widget-title">{{ group }}</div>
							<div class="widget-content">
								{% for table in table_list %}
									<div class="widget-row">
										{% set tname = table.__tablename__ %}
										<div class="widget-row__item">
											<a href="{{ request.route_url('sa_list', table=tname) }}" class="widget-row__item-link" id="id_{{ tname }}" >{{ table.verbose_name or tname }}</a>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}
				</div>
				<div class="dashboard__column">
					2
				</div>
				<div class="dashboard__column">
					3
				</div>
			</div>
     </div>
	</div>
{% endblock sa_body  %}

{% block extrascript %}
{% endblock extrascript %}
