{% extends "sacrud/redefineme.jinja2" %}

{% block sa_body %}
    <div id="page" class="page">
        <div class="page__left">
            <div class="page__left-inner">
                <div class="page__left-inner-content">
                    <div class="page__title">{{ sa_crud['table'].__tablename__ }} list</div>
                    <div id="cutelement" class="hidden sa_table selected"></div>
                    {% include 'sacrud/forms/list.jinja2' with context %}      
                </div>
            </div>
        </div>
        <div class="page__right">
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script>
        $(document).ready(function() {
            $("#sa_index").kendoGrid({
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                batch: true,
                pageSize: 20,
                filterable: true,
                columnMenu: true
            });
        });
    </script>
{% endblock %}