{% extends "sacrud/redefineme.jinja2" %}

{% block sa_body %}
    <div id="page" class="page">

        <!--
            <div id="cutelement" class="hidden sa_table selected"></div>
        -->

        {% include 'sacrud/forms/list.jinja2' with context %}

    </div>
{% endblock %}

{% block extrascript %}
    <div id="foo"></div>
    <script>
        $(document).ready(function() {
            var foo  = new kendo.data.DataSource({
                transport: {
                    read:  {
                        url: "?json=?",
                        dataType: "json"
                    }
                }
            });

            console.log(foo);
            $("#foo").kendoGrid({
                dataSource: foo,//[{ "id": "Jane", "foo": "True"}, { id: "John", foo: "False"}],
                columns: [
                  {field: "id", title: "id"},
                  {field: "foo", title: "foo"}
                ]
                /*sortable: true,*/
                /*pageable: {*/
                    /*refresh: true,*/
                    /*pageSizes: true,*/
                    /*buttonCount: 5*/
                /*},*/
                /*batch: true,*/
                /*pageSize: 20,*/
                /*filterable: true,*/
                /*columnMenu: true,*/
                /*editable: true,*/
                /*toolbar: ["create", "save", "cancel", "refresh"],*/
            });
        });
    </script>
{% endblock %}
