*~
*.swo
*.swp
.settings
.project
.pydevproject
sacrud/.coverage
sacrud/cover
TODO.*
nohup.out
.cache
.webassets*

# JavaScript
node_modules

# Python
cover
.coverage
build
dist
*.egg-info
example
htmlcov
.ropeproject
*.pyc

# Bower
sacrud/static/js/bower_components

# Docs
_build
_themes
_pyramid_sacrud
_pyramid_sacrud_example

# tox
__pycache__
.tox
