*~
*.swo
*.swp
.settings
.project
.pydevproject
sacrud/.coverage
sacrud/TODO
sacrud/cover
TODO
TODO.txt
nohup.out
.cache
.webassets*
_*.css

# JavaScript
node_modules

# Python
cover
.coverage
build
dist
*.egg-info
example
htmlcov
.ropeproject
*.pyc

# Bower
sacrud/static/js/*
!sacrud/static/js/*/
sacrud/static/js/lib/**/*
!sacrud/static/js/lib/jquery/dist/jquery.min.js
!sacrud/static/js/lib/chosen/public/chosen.jquery.min.js
!sacrud/static/js/lib/jquery-ui/ui/minified/jquery-ui.min.js
!sacrud/static/js/lib/speakingurl/speakingurl.min.js
!sacrud/static/js/lib/jqueryui-timepicker-addon/src/jquery-ui-timepicker-addon.js
