<div class="sa_table">
<!--create-->
<a href="{{ request.route_url('sa_create', table=sa_crud['table'].__tablename__) }}">
  Add a new {{ sa_crud['table'].__tablename__ }}
</a>
<table id="index">
  {% if sa_crud %}
  <tr>
  {% for col in sa_crud['col'] %}
    <th>
      {{ col.name }}
    </th>
  {% endfor %}
  <th>actions</th>
  </tr>
  {% for row in sa_crud['row'] %}
  <tr valign="top" id="{{ sa_crud['table'].__tablename__ }}_{{row[sa_crud['pk']] }}">
    {% for col in sa_crud['col'] %}
    <td>
      {{ row.__getattribute__(col.name)|string|truncate(200) }}
    </td>
    {% endfor %}
    <td>
    	{% include 'sacrud/forms/actions.jinja2' with context %}
    </td>
  </tr>
  {% endfor %}
  {% else %}
  <tr><td>There are no open objects</td></tr>
  {% endif %}
</table>
</div>
