<div class="sa_table">
<!--create-->
<a href="{{ request.route_url('sa_create', table=sa_crud['table'].__tablename__) }}">
  Add a new {{ sa_crud['table'].__tablename__ }}
</a>
<table id="index">
  {% if sa_crud %}
  <tr>
  {% for col in sa_crud['col'] %}
    <th>
      {{ col.name }}
    </th>
  {% endfor %}
  <th>actions</th>
  </tr>
  {% for row in sa_crud['row'] %}
  <tr valign="top">
    {% for col in sa_crud['col'] %}
    <td>
      {{ row.__getattribute__(col.name)|string|truncate(200) }}
    </td>
    {% endfor %}
    <td>
      <!--delete-->
      <div class="inline">
      <form action="{{ request.route_url('sa_delete', table=sa_crud['table'].__tablename__,
            id=row[sa_crud['pk']]) }}" 
            method='POST'>
        <input type="submit" value="delete">
      </form>
      </div>
      <!--edit-->
      <div class="inline">
      <form action="{{ request.route_url('sa_update', table=sa_crud['table'].__tablename__,
            id=row[sa_crud['pk']]) }}" 
            method='POST'>
        <input type="submit" value="edit">
      </form>
      </div>
      <!--view-->
      <div class="inline">
      <form action="{{ request.route_url('sa_read', table=sa_crud['table'].__tablename__,
            id=row[sa_crud['pk']]) }}" 
            method='GET'>
        <input type="submit" value="view">
      </form>
      <!--view-->
      <div class="inline">
	    <input type="submit" value="cut" id="id_cut">
      </form>
      </div>
    </td>
  </tr>
  {% endfor %}
  {% else %}
  <tr><td>There are no open objects</td></tr>
  {% endif %}
</table>
</div>
