{% set table=sa_crud['table'] %}

{% if hasattr(table, 'sacrud_list_col') %}
    {% set visible_columns=table.sacrud_list_col %}
{% else %}
    {% set visible_columns=sa_crud['col'] %}
{% endif %}

{% if hasattr(sa_crud['table'], '__mapper_args__') %}
    {% set isdnd=sa_crud['table'].__mapper_args__.order_by %}
{% endif %}

<div class="sacrud-grid">
    <div class="sacrud-grid__title">
        {{ sa_crud['table'].__tablename__ }} administration
    </div>
    <div class="sacrud-grid__action" id="sa_grid_action">
    </div>
    <div class="sacrud-grid-toolbar clear-fix">
        <div class="sacrud-grid-toolbar-button">
            <div class="sacrud-grid-toolbar-button__item">
                <a href="{{ request.route_url('sa_create', table=table.__tablename__) }}"
                   class="sacrud-grid-toolbar-button__item-link">
                    Add a new {{ table.__tablename__ }}
                </a>
            </div>
            <div class="sacrud-grid-toolbar-button__item sacrud-grid-toolbar-button__item_state_disable">
                <div class="sacrud-grid-toolbar-button__item-name">Delete</div>
            </div>
            <div class="sacrud-grid-toolbar-button__item sacrud-grid-toolbar-button__item_state_disable">
                <div class="sacrud-grid-toolbar-button__item-name">Hide</div>
            </div>
        </div>
        <div class="sacrud-grid-toolbar-search">
            <div class="sacrud-grid-toolbar-search__inner">
                <form class="search" action="/search/">
                    <div class="search__input no-js">
                        <ins class="search__input-box">
                            <input id="site_search" name="search" class="search__input-box-text" value="поиск" placeholder="поиск" autocomplete="off">
                            <span class="search__input-icon">&nbsp;</span>
                        </ins>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="sacrud-grid-content">
        <div class="sacrud-grid-content__left">
            <div class="sacrud-grid-content__left-inner">
                <table class="sacrud-grid-content-grid" id="sa_index">
                    {% if sa_crud %}
                        <thead class="sacrud-grid-content-grid__header">
                            <tr class="sacrud-grid-content-grid__header-row">
                                <th class="sacrud-grid-content-grid__header-item">
                                    <input type="checkbox" />
                                </th>
                                {% for col in visible_columns %}
                                    <th class="sacrud-grid-content-grid__header-item">
                                        <a href="#" class="sacrud-grid-content-grid__header-item-link">
                                            {{ col.info.verbose_name or col.name or col.sacrud_name or None }}
                                        </a>
                                    </th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody class="sacrud-grid-content-grid__body">
                            {% for row in sa_crud['row'] %}
                                {% set row_id = row[sa_crud['pk']] %}
                                <tr id="{{ sa_crud['table'].__tablename__ }}_{{ row_id }}"
                                    class="sacrud-grid-content-grid__body-row">
                                    <td class="sacrud-grid-content-grid__body-item">
                                        <input type="checkbox" />
                                    </td>
                                    {% for col in visible_columns %}
                                        <td class="sacrud-grid-content-grid__body-item">
                                            {% if col.__class__.__name__ == 'Column' %}
                                                {% set col_value=row.__getattribute__(col.instance_name) %}
                                            {% endif %}
                                            {% if col.info['sacrud_list_template'] %}
                                                {% include col.info['sacrud_list_template'] %}
                                            {% else %}
                                                {{ col_value|string|truncate(200) }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                    <td style="display:none">
                                        {% include 'sacrud/forms/actions.jinja2' with context %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <tr>
                            <td>There are no open objects</td>
                        </tr>
                    {% endif %}
                </table>
                {% if 'row' in sa_crud %}
                    <div class="sacrud-grid-content__paginator">
                        {% set paginator = sa_crud['row'] %}
                        {% if paginator.items %}
                            <div class="paginator">
                                {% include "sacrud/paginator.jinja2" %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="sacrud-grid-content__right">
            <div class="sacrud-grid-content-filter">&nbsp;</div>
        </div>
    </div>
    
</div>
