<!--edit-->
<div class="inline">
  <form action="{{ request.route_url('sa_update', table=sa_crud['table'].__tablename__,
        id=row[sa_crud['pk']]) }}"
        method='POST'>
    <input type="submit" value="edit" id="button_other">
  </form>
</div>
