<!--cut-->
<div class="inline" >
    <form action="{{ request.route_url('sa_paste', table=sa_crud['table'].__tablename__,
        id=row[sa_crud['pk']]) }}" 
        method='POST'>
    <input type="submit" value="paste" class="paste" disabled="disabled">
  </form>
</div>