.input
{
	margin: 0;
	padding: 5px;
	width: 100%;
	height: 100%;
}
.input:focus
{
	outline: 0;
	border-color: #919191;
}
	.input_type_number
	{
		border: 1px #d9d9d9 solid;
	}
	.input_type_integer
	{
		border: 1px #d9d9d9 solid;
	}
	.input_type_string
	{
		border: 1px #d9d9d9 solid;
	}
	.input_type_biginteger
	{
		border: 1px #d9d9d9 solid;
	}