.sacrud-grid
{

}
	.sacrud-grid__title
	{
		float: left;
		font-family: 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
		font-weight: 300;
		color: #000000;
		font-size: 1.6em;
		text-transform: uppercase;
		padding: 0 0 0.5em 0;
	}
	.sacrud-grid__action
	{
		float: right;
	}
	.sacrud-grid-toolbar
	{
		clear: both;
		zoom: 1;
		border: 1px solid #ccc;
		margin: 0 0 20px 0;
		
	}
		.sacrud-grid-toolbar-button
		{
			display: table;
			float: left;
		}
			.sacrud-grid-toolbar-button__item
			{
				width: 100px;
				display: table-cell;
				text-align: center;
				cursor: pointer;
				border-right: 1px solid #ccc;
			}
				.sacrud-grid-toolbar-button__item-name
				{
					display: inline-block;
					font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
					vertical-align: middle;
					padding: 10px 15px;
				}
				.sacrud-grid-toolbar-button__item-link
				{
					display: inline-block;
					font: 0.8em 'Segoe UI Light_', 'Open Sans Light', Verdana, Arial, Helvetica, sans-serif;
					vertical-align: middle;
					padding: 10px 15px;
					color: #444 !important;
					text-decoration: none;
				}
			.sacrud-grid-toolbar-button__item:hover
			{
				background: #7ea700;
				color: #fff;
			}
				.sacrud-grid-toolbar-button__item:hover .sacrud-grid-toolbar-button__item-link
				{
					color: #fff !important;
				}
			.sacrud-grid-toolbar-button__item_state_disable
			{
				background: #eee;
				cursor: default;
			}
				.sacrud-grid-toolbar-button__item-name,
				.sacrud-grid-toolbar-button__item-link
				{
					color: #777;
				}
			.sacrud-grid-toolbar-button__item_state_disable:hover
			{
				background: #eee;
			}
		.sacrud-grid-toolbar-search
		{
			width: 20%;
			float: right;
			display: table;
			padding: 10px 15px 10px 0;
		}
			.sacrud-grid-toolbar-search__inner
			{
				display: table-cell;
				vertical-align: middle;
			}
	.sacrud-grid-toolbar:after
	{
		display: block;
		clear: both;
		content: "";
	}
	.sacrud-grid-content
	{
		width: 100%;
		padding: 0;
	}
		.sacrud-grid-content__left
		{
			width: 100%;
			float: left;
			position: relative;
		}
			.sacrud-grid-content__left-inner
			{
				padding: 0 220px 0 0;
			}
		.sacrud-grid-content__right
		{
			width: 200px;
			float: right;
			margin-left: -205px;
			position: relative;
		}

		.sacrud-grid-content-grid
		{
			width: 100%;
			border-collapse: collapse;
			margin: 0 0 2em 0;
			position: relative;
		}

			.sacrud-grid-content-grid__header
			{

			}
				.sacrud-grid-content-grid__header-row
				{
					color: #444;
					border: 1px solid #ccc;
				}
					.sacrud-grid-content-grid__header-item
					{
						color: #444;
						text-align: left;
						padding: 0.5em 1em;
						background: #eee;
						font: 0.9em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
						border: none;
					}
					.sacrud-grid-content-grid__header-item:first-child
					{
						width: 20px;
						padding: 0.5em 1em;
						text-align: center;
					}
						.sacrud-grid-content-grid__header-item-link
						{
							color: #444;
						}
						.sacrud-grid-content-grid__header-item-link:hover
						{
							color: red;
						}
				.sacrud-grid-content-grid__body-row
				{
					color: #444;
					border: 1px #eaeaea solid;
				}
				.sacrud-grid-content-grid__body-row:hover
				{
					background: #F4F9FE;
				}
					.sacrud-grid-content-grid__body-item
					{
						padding: 0.5em 1em;
						vertical-align: top;
						font: 0.9em 'Segoe UI_', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
					}
					.sacrud-grid-content-grid__body-item:first-child
					{
						width: 20px;
						padding: 0.5em 1em;
						text-align: center;
					}
			.sacrud-grid-content__paginator
			{
				text-align: center;
			}
		.sacrud-grid-content-filter
		{
			background: #7ea700;
			padding: 0.95em 1em 0.9em 1em;
		}