{% set value=getattr(obj, col.name) %}
<input type="date"
       class="sacrud_date {{ css_styles }}"
       id="sacrud_date_{{ col.name }}"
       name="{{ col.name }}"
       value="{{ value }}"
       />
