{% set value=getattr(obj, col.name) %}
<input type="number"
       class="sacrud_float {{ css_styles }}"
       id="sacrud_float_{{ col.name }}"
       name="{{ col.name }}"
       value="{{ value }}"
       />
