{% set value=getattr(obj, col.name) %}
<input type="text"
       class="sacrud_guid {{ css_styles }}"
       id="sacrud_guid_{{ col.name }}"
       name="{{ col.name }}"
       value="{{ value }}"
       />
