{% set value=getattr(obj, col.name) %}
<input type="number"
       class="sacrud_integer {{ css_styles }}"
       id="sacrud_integer_{{ col.name }}"
       name="{{ col.name }}"
       value="{{ value }}"
       />
