<textarea class="sacrud_text {% for style in css_class %} {{style}}{% endfor %}"
          id="sacrud_textarea_{{ col.name }}"
          name="{{ col.name }}">{% if obj %}{{ getattr(obj, col.name) }}{% endif %}</textarea>
